<!-- About section -->
<div class="section scrollspy section-gray-section" id="about">
   <div class="container">
      <h4 class="center-align section-gray-header">About</h4>
      <div class="row">
         <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body" style="text-align: justify">
            <p> 
               MatterMind is a workshop bringing together leading academics and industry professionals from science and engineering to explore the digital representation of complex materials across a wide range of scales, from the nanoscale to the macroscale. The forum highlights the pivotal role of a broad spectrum of numerical tools — including computational models, Reduced Order Models (ROMs), and Artificial Intelligence — in advancing the development of material digital twins, with a particular emphasis on engineering applications.
                 </p>
         </div>
         <!--<div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body" style="text-align: justify">
            <p>     
               By fostering interdisciplinary collaboration, MatterMind aims to accelerate the advancement of material digital twins, ultimately contributing to the design of more efficient and sustainable materials and structures.
                 </p>
         </div>-->
         <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body" style="text-align: justify">
            <p> 
               Keynote presentation: 30 minutes + 10 minutes Q&A <br>
               Regular presentation: 15 minutes + 10 minutes Q&A <br>
               <!-- We have put together a program alternating invited keynote speakers with colleagues from different disciplines — chemists and materials scientists, engineers and mathematicians — fostering new perspectives and synergies. We will blend academic and industry perspectives, leaving plenty of room for discussion. -->
            </p>
         </div>
         -->
      </div>
   </div>
</div>
