<!-- Banner section -->
<div class="section scrollspy banner-section">
   <div class="banner-container">
      <img src="assets/img/banner_mattermind.svg" alt="MATTERMIND 2026 Workshop Banner" class="banner-image">
   <div class="center-align" style="margin-top: 20px;">
         <a href="{{site.registration-page}}" class="btn-large banner-button" style="
            font-size: 40px;
            font-weight: bold;
            background-color:white;
            color: {{site.color.primary-blue}};
            border: 3px solid {{site.color.primary-blue}};
            border-radius: 50px;
            box-shadow: none;
         ">Register Here</a>
      </div>
   </div>
</div>
