<!-- Contributors section -->
<div class="section scrollspy section-white-section" id="contributors">
  <div class="container">
    <h4 class="center-align section-white-header">List of Contributors</h4>
    <div class="row">
      <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body center-align">
        <p>This workshop is funded by the REACT Hans Fischer Fellowship <br />:
          <i>“Digital Twins Of Civil StRucturEs And Protection Systems In A ClimAte Change PerspecTive”</i></p>
      </div>
    </div>
    <div class="logo-container">
      <div class="logo-row">
          <a href="https://www.ias.tum.de/ias/start/" class="logo-link wide">
             <img class="responsive-img logo" src="assets/img/logos/tum.png" alt="tum logo">
            </a>
      </div>
    </div>
  </div>
</div>
