<!-- Schedule section -->
<div class="section scrollspy section-gray-section" id="schedule">
   <div class="container">
      <h4 class="center-align section-gray-header">Draft Schedule</h4>
      <div class="row">
         <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
            <table class="schedule">
               <tbody>

                  <!-- WEDNESDAY, MAY 20th -->
                  <tr>
                     <th class="time-column">Time</th>
                     <th>MATTERMIND 2026 – Wednesday, May 20th</th>
                  </tr>
                  <tr>
                     <td class="time-column">12:00 – 13:20</td>
                     <td>Lunch</td>
                  </tr>
                  <tr>
                     <td class="time-column">13:20 – 13:30</td>
                     <td>Welcome &amp; Opening Remarks (Antonia Larese &amp; Angela Casini)</td>
                  </tr>
                  <tr>
                     <td class="time-column">13:30 – 15:00</td>
                     <td>
                        <strong>Session 1</strong><br>
                        13:30 – 14:10: <b>Keynote 1 – Rainald Lohener</b> (George Mason University) <i>"Challenges in Material Modeling for Blast-Structure Interaction"</i><br>
                        14:10 – 14:35: <b>Jithender Timothy</b> (Centre for Building Materials, TUM)<br>
                        14:35 – 15:00: <b>Dirk Lowke</b> (Materials and Methods in Digital Construction, TUM)
                     </td>
                  </tr>
                  <tr class="blue-grey lighten-5">
                     <td class="time-column">15:00 – 15:30</td>
                     <td>Coffee Break</td>
                  </tr>
                  <tr>
                     <td class="time-column">15:30 – 17:25</td>
                     <td>
                        <strong>Session 2</strong><br>
                        15:30 – 16:10: <b>Keynote 2 – Thomas Weinhart</b> (University of Twente) <i>"TBA"</i><br>
                        16:10 – 16:35: <b>Felix Dietrich</b> (Physics-enhanced Machine Learning, TUM)<br>
                        16:35 – 17:00: <b>Roland Wüchner</b> (Static and Dynamic, TUM)<br>
                        17:00 – 17:25: <b>Antonia Larese</b> (Computational Mechanics for Multiphysics, University of Padova)
                     </td>
                  </tr>
                  <tr class="blue-grey lighten-5">
                     <td class="time-column">17:25 – 19:00</td>
                     <td>Wrap-up Day 1 – Round Table</td>
                  </tr>

                  <!-- THURSDAY, MAY 21st -->
                  <tr>
                     <th class="time-column">Time</th>
                     <th>MATTERMIND 2026 – Thursday, May 21st</th>
                  </tr>
                  <tr>
                     <td class="time-column">09:30 – 11:00</td>
                     <td>
                        <strong>Session 3</strong><br>
                        09:30 – 10:10: <b>Keynote 3 – Wil Shilders</b> (Eindhoven University of Technology) <i>"Accelerating Scientific Simulation: Bridging Mathematics and Artificial Intelligence for Industrial Applications"</i><br>
                        10:10 – 10:35: <b>Torben Gädt</b> (Chemistry of Construction Materials, TUM)<br>
                        10:35 – 11:00: <b>Arne Thomas</b> (Macromolecular Chemistry, TUM)
                     </td>
                  </tr>
                  <tr class="blue-grey lighten-5">
                     <td class="time-column">11:00 – 11:30</td>
                     <td>Coffee Break</td>
                  </tr>
                  <tr>
                     <td class="time-column">11:30 – 13:00</td>
                     <td>
                        <strong>Session 4</strong><br>
                        11:30 – 12:10: <b>Keynote 4 – Anna Pandolfi</b> (Politecnico di Milano) <i>"A microstructured brittle damage model for poromechanical applications"</i><br>
                        12:10 – 12:35: <b>Julija Zavadlav</b> (Multiscale Modeling of Fluid Materials, TUM)<br>
                        12:35 – 13:00: <b>Christopher Stein</b> (Theoretical Chemistry, TUM)
                     </td>
                  </tr>
                  <tr class="blue-grey lighten-5">
                     <td class="time-column">13:00 – 14:30</td>
                     <td>Lunch Break</td>
                  </tr>
                  <tr>
                     <td class="time-column">14:30 – 16:00</td>
                     <td>
                        <strong>Session 5 – Industry Session</strong><br>
                        NEXTMOL (Monica De Mier) + SIEMENS
                     </td>
                  </tr>
                  <tr class="blue-grey lighten-5">
                     <td class="time-column">16:00 – 16:30</td>
                     <td>Coffee Break</td>
                  </tr>
                  <tr>
                     <td class="time-column">16:30 – 17:20</td>
                     <td>
                        <strong>Session 6</strong><br>
                        16:30 – 16:55: <b>Alessio Gagliardi</b> (Simulation of Nanosystems for Energy Conversion, TUM)<br>
                        16:55 – 17:20: <b>Angela Casini</b> (Medicinal and Bioinorganic Chemistry, TUM)
                     </td>
                  </tr>
                  <tr class="blue-grey lighten-5">
                     <td class="time-column">17:20 – 17:30</td>
                     <td>Closing Remarks and Networking</td>
                  </tr>

               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>